AuthType Basic
AuthName "Only authorized users may access this project"
AuthUserFile /var/www/ncovercash.dev/Projects/wolfram/.htpasswd
Require valid-user

<FilesMatch "token.txt">
	Deny from all
</FilesMatch>
<FilesMatch ".htpasswd">
	Deny from all
</FilesMatch>
